h1{
    text-align: center;
}
.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}
.services-content{
    padding: 10px;
    text-align: center;
    margin-top: 2%;

}